/*
** 基本颜色
*/
$ex-light-color: #e3fdfd;
$light-primary-color: #cbf1f5;
$primary-color: #a6e3e9;
$dark-primary-color: #71c9ce;
$ex-dark-color: #2a6c6f;
$background-color: #ffffff;
/*
** 整体设置
*/
$text-color: $ex-dark-color;
$light-text-color: $ex-light-color;
$font-size: 14px;
$border-radius: 16px;
$box-shadow-color: rgba(113, 201, 206, 0.7);
$border-color: $primary-color;
$border-color-hover: $dark-primary-color;
/*
** 按钮 - button
*/
$button-height: 32px;
$button-bg-active: $dark-primary-color;
$button-text-active: $light-text-color;
